*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #a03224c2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container form{
    background-color: rgba(230, 234, 238, 0.89);
    padding: 30px 20px;
    /* position: relative; */
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}

form{
    margin: 250px 0px 15px 0px;
}

.form-container img{
    height: 220px;
    width: 320px;
    object-fit: cover;
    top:10%;
    left:40%;
    position:absolute;
    border-radius: 10px;
}

h1{
    font-size: 40px;
    font-weight: 500;
    margin: 10px 0px 10px 0px;
    padding: 0 100px;
    text-align: center;
}

.input-group{
    width: 110%;
    display: flex;
    align-items: center;
    margin: 16px 0;
    position: relative;
}
.input-group label{
    flex-basis: 18%;
}
.input-group input, .input-group textarea{
    flex-basis: 40%;
    border: 0;
    outline: 0;
    padding: 10px 0;
    border-bottom: 1px solid #999;
    background-color: rgb(247, 244, 244);
    color: rgb(0, 0, 0);
    font-size: 16px;
}
::placeholder{
    font-size: 14px;
}

form button{
    background: #141a34;
    color: #fff;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    padding: 10px 40px;
    outline: 0;
    cursor: pointer;
    display: block;
    margin: 30px auto 10px;
}

form button:hover{
    background-color: rgba(14, 14, 227, 0.941);
    color: #0a0a0a;
}